In [1]:
import pandas as pd
import requests
url = 'http://www.worldometers.info/world-population/population-by-country/'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)
df = pd.read_html(r.text)
df

[       # Country (or dependency)  Population (2020) Yearly Change  Net Change  \
 0      1                   China         1439323776        0.39 %     5540090
 1      2                   India         1380004385        0.99 %    13586631
 2      3           United States          331002651        0.59 %     1937734
 3      4               Indonesia          273523615        1.07 %     2898047
 4      5                Pakistan          220892340        2.00 %     4327022
 ..   ...                     ...                ...           ...         ...
 230  231              Montserrat               4992        0.06 %           3
 231  232        Falkland Islands               3480        3.05 %         103
 232  233                    Niue               1626        0.68 %          11
 233  234                 Tokelau               1357        1.27 %          17
 234  235                Holy See                801        0.25 %           2

      Density (P/Km²)  Land Area (Km²)  Migrants (net) Fert. Rate Med. Age  \
 0                153          9388211       -348399.0        1.7       38
 1                464          2973190       -532687.0        2.2       28
 2                 36          9147420        954806.0        1.8       38
 3                151          1811570        -98955.0        2.3       30
 4                287           770880       -233379.0        3.6       23
 ..               ...              ...             ...        ...      ...
 230               50              100             NaN       N.A.     N.A.
 231                0            12170             NaN       N.A.     N.A.
 232                6              260             NaN       N.A.     N.A.
 233              136               10             NaN       N.A.     N.A.
 234             2003                0             NaN       N.A.     N.A.

     Urban Pop % World Share
 0          61 %     18.47 %
 1          35 %     17.70 %
 2          83 %      4.25 %
 3          56 %      3.51 %
 4          35 %      2.83 %
 ..          ...         ...
 230        10 %      0.00 %
 231        66 %      0.00 %
 232        46 %      0.00 %
 233         0 %      0.00 %
 234        N.A.      0.00 %

 [235 rows x 12 columns]]

In [2]:
WorldPopulation = df[0]

In [3]:
WorldPopulation.head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [4]:
WorldPopulation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        235 non-null    int64
 1   Country (or dependency)  235 non-null    object
 2   Population (2020)        235 non-null    int64
 3   Yearly Change            235 non-null    object
 4   Net Change               235 non-null    int64
 5   Density (P/Km²)          235 non-null    int64
 6   Land Area (Km²)          235 non-null    int64
 7   Migrants (net)           201 non-null    float64
 8   Fert. Rate               235 non-null    object
 9   Med. Age                 235 non-null    object
 10  Urban Pop %              235 non-null    object
 11  World Share              235 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 16.6+ KB

In [4]:
WorldPopulation = WorldPopulation[['Country (or dependency)','Population (2020)']]
WorldPopulation = WorldPopulation.rename(columns={WorldPopulation.columns[0]:'Country/Territory',WorldPopulation.columns[1]:'Population',})
WorldPopulation

    Country/Territory  Population
0               China  1439323776
1               India  1380004385
2       United States   331002651
3           Indonesia   273523615
4            Pakistan   220892340
..                ...         ...
230        Montserrat        4992
231  Falkland Islands        3480
232              Niue        1626
233           Tokelau        1357
234          Holy See         801

[235 rows x 2 columns]

In [6]:
WorldPopulation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country/Territory  235 non-null    object
 1   Population         235 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.8+ KB

In [7]:
WorldPopulation.to_csv(path_or_buf='Data/WorldPopulation.csv',index=False)